<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.lynz.logisticsmanagementsystem.mapper.LogisticsMapper">
    <select id="getLogisticsinfosById" resultType="com.lynz.logisticsmanagementsystem.pojo.Logisticsinfos">
        select * from logisticsinfos where user_id = #{id}
    </select>

    <select id="getLogisticsinfosByIdLimit" resultType="com.lynz.logisticsmanagementsystem.pojo.Logisticsinfos">
        select * from logisticsinfos where user_id = #{id} limit #{limit},#{offset}
    </select>

    <select id="getTotalLogisticsInfosCount" resultType="int">
        SELECT COUNT(*) FROM logisticsinfos WHERE user_id = #{userId}
    </select>
</mapper>